<div class="landing-block">
    
    <div class="landing-links">
      
    </div>
</div>
<div class="container">
  <div class="content">
    <img src="assets/player1.png" alt="playFree logo">
    <p class="bio">Join the Play Free project and experience the joy of soccer! We're dedicated to organizing free soccer matches for private and public events, parties, and gatherings. Whether you're a seasoned player or just starting out, there's a place for you in our community.</p>
    <p class="bio">Get ready to kick off some fun!</p>
    <div style="text-align: center;">
      <button (click)="onContinue()" class="button">Continuer vers PlayFree</button>
    </div>
  </div>
</div>